services:
  db:
    image: postgres:16-alpine
    container_name: portfolio_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - portfolio-network

#  portfolio:
#    build:
#      dockerfile: Dockerfile
#      args:
#        - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
#    container_name: portfolio
#    restart: unless-stopped
#    environment:
#      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
#      NODE_ENV: production
#    ports:
#      - "3000:3000"
#    depends_on:
#      db:
#        condition: service_healthy
#    volumes:
#      - ./public/uploads:/app/public/uploads
#    networks:
#      - portfolio-network

volumes:
  postgres_data:
    driver: local

networks:
  portfolio-network:
    driver: bridge